
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Vue Material
// @import "node_modules/vue-material/dist/vue-material.css";
.md-list {
	padding: 0 0 !important;
}

// Ink Ripple Hack
div[md-ink-ripple] {
	position: relative;
}

.centaur-card {
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 5px 1px #ddd;
	padding: 0 !important;
	position: relative;
	z-index: 1;

	.centaur-card--header {
		border-bottom: 1px solid #ddd;
		padding: 0 16px;
		text-align: center;
		padding: 16px 0;
		background: #2196F3;
		position: relative;
		z-index: -1 !important;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 1px solid #2196F3;

		h3 {
			margin: 0;
			color: #f2f2f2;
		}
	}
}

.has-padding--lr {
	padding: 0 16px !important;
}

.no-background {
	background: transparent !important;
	box-shadow: none !important;
}

