
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Vue Material
// @import "node_modules/vue-material/dist/vue-material.css";
.md-list {
	padding: 0 0 !important;
}


#editor {
	border: 0 !important;
	font-size: 1.52em !important;
	color: #333 !important;
}
.ql-toolbar {
	border-top: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}
